#clock {
  position:absolute;
  width:200px;
  color:white;
  left:50%;
  margin-left:-100px;
  margin-top:-42px;
  font-size:14px;
  text-align:center;
}

#clock ul { margin:0 auto; padding:0px; list-style:none; text-align:center; }
#clock ul li { display:inline; font-size:16px; text-align:center;}

#clock #point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; }

/* Simple Animation */
@-webkit-keyframes mymove 
{
  0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
  50% {opacity:0; text-shadow:none; }
  100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }  
}

@-moz-keyframes mymove 
{
  0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
  50% {opacity:0; text-shadow:none; }
  100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }  
}
