<div id="about_us_overlay" class="info_overlay">
  <div class="info_container">
    <div class="info">
      <div class="info_block">
        <h1>Global Financial Information at the Blink of an Eye</h1>
        <h2>Market Blink is a global financial news and market data aggregator that presents information visually. We are currently working on expanding our platform to include: Commodities, Fixed Income, Currencies, Volatility as well as other economic information and global equities charting. Data visualization is the future and this is only the first step in revolutionizing how we see markets. For more information please contact us.</h2>
      </div>
    </div>
  </div>
  <div class="country_name">
    About Us
  </div>
</div>

