<div id="map-header" class="block">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a id="main-logo" class="brand" href="/"></a>
        <div class="nav-collapse">
          <ul id="map-filters">
            <li class="active"><a id="equities-btn" class="btn btn-inverse">Equities</a></li>
            <li><a id="bonds-btn" class="btn btn-inverse">Bonds</a></li>
            <li><a id="volatility-btn" class="btn btn-inverse">Volatility</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>
