<!DOCTYPE html>
<html>
<head>
  <title>Mrktblink</title>
  <%= stylesheet_link_tag "application", :media => "all" %>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />  
  <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>